body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    width: 800px;
}

.section-left {
    position: relative;
    width: 200px;
    font-style: italic;
}

.section-right {
    position: relative;
    width: 500px;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    height: 210px;
    border-bottom: solid orange 5px;
    background-color: lightgray;
}

.name-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    left: 10px;
}
.name-container p {
    padding: 0;
    margin: 0 15px 0;
    font-size: 25px;
}

.contact-container {
    position: absolute;
    right: 15px;
}
.contact-container ul {
    list-style-type: none;
}
.contact-container ul li {
    font-size: small;
    margin: 5px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
  border-bottom: solid gray 2px;
}

.experience-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    border-bottom: solid gray 2px;
}

.job-title {
    font-weight: bold;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    border-bottom: solid gray 2px;
}
.skills-column-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.skills-column-container ul {
    padding: 0;
    list-style-type: none;
}

.education-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}
.education-container ul {
    list-style-type: none;
    padding: 0;
}
.education-container ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}